@model ShoeStore.Models.UserCart

@{
    ViewData["Title"] = "Delete";
}

<div style="border: 2px solid green; margin: 20px auto; background-color:darkseagreen; width:50%;">
    <h3 style="padding: 5px 10px;">Removed successfully</h3>
</div>
<div style="margin: 20px auto; width:50%;">
    <a asp-controller="Cart" asp-action="ViewCart">Back to List</a>
</div>